@{
    ViewData["Title"] = "Home Page";

    Random RB = new Random();
    string[] names = new[] {"LaDanian","Marcus","Walter","Ricky","Marshall"};

    string name = names[RB.Next(0, names.Length)];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
